@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    background-color: #1A1D20;
    color: #E8EDF2;
    font-family: 'Outfit', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  * {
    -webkit-tap-highlight-color: transparent;
  }
}
